#submitLogin {
    float: left;
    width: 20vw;
    height: 3vw;
}

#loginBox {
    background-color: rgb(222, 215, 215);
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#login {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../pictures/background.jpg), url(../pictures/welcome.png), url(../pictures/gray.png);
    background-position: top, bottom, bottom;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100vmax 27%, 50vmax 50%, 100vmax 23%;
}

#welcome {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-80%, -60%);
    width: auto;
    height: auto;
}

.form-control {
    display: inline-block;
    width: calc(100% - 160px);
}

label {
    display: inline-block;
    width: 150px;
}

.invisible-button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.absolute-top {
    position: absolute;
    width: 100%;
    height: 4vmax;
}